<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="main_style.css" rel="stylesheet">
</head>
<body>
<header>
    <div id="link">
        <ul>
            <a href="" class="linkHead">Главная</a>
            <a href="" class="linkHead">Второстепенная</a>
            <a href="" class="linkHead">О нас</a>
            <a href="" class="linkHead">О вас</a>
            <a href="" class="linkHead">И о Кавказ</a>
        </ul>
    </div>
</header>
<article>
    <img src="bookImage/img.png" class="ArticleDiv" id="book1">
</article>
<article>
    <img src="bookImage/img_1.png" class="ArticleDiv" id="book2">
</article>
<article>
    <img src="bookImage/img_2.png" class="ArticleDiv" id="book3">
</article>
<article></article>
<article></article>
<article></article>
<article></article>
<article></article>



<script src="MainJs.js"></script>
</body>
</html>