body {
    background-image: url("/images/sign_up/fon.png");
}

#main {
    height: 700px;
    width: 500px;
    margin: 150px auto 0px auto;
    background-color: rgba(24, 33, 52, 0.5);;
    border-radius: 50px;
}

input[type=text], input[type=password] {
    width: 250px;
    height: 35px;
    font-size: medium;
    font-family: "Times New Roman";
    margin-bottom: 20px;
    text-align: center;
    padding-left: 15px;
    border-radius: 10px;
    border-width: 5px;
}

#name {
    padding-top: 30px;
}

h3 {
    font-family: "Times New Roman";
    color: bisque;
}

form {
    text-align: center;
}

input[type=button] {
    width: 160px;
    height: 40px;
    padding: 3px;
    margin: 30px;
    border-radius: 10px;
    font-family: "Times New Roman";
    font-size: 15px;
}

input[type=date] {
    width: 250px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 15px;
}

img {
    width: 90px;
    margin-top: -40px;
    border-radius: 30px;
}