<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
    <link href="/styles/css/change_data_user.css"  rel="stylesheet"  type="text/css"/>
</head>
<body>
<header>
    <div id="link">
        <ul>
            <a href="" class="linkHead" th:href="@{/main}" >Главная</a>
            <a href="" class="linkHead" th:href="@{/main/addNewBook}">Добавить книгу</a>
            <a href="" class="linkHead">О нас</a>
            <a  class="linkHead" href="" th:href="@{/main/changeDataUser}" th:text="${current_user.getName()}">О вас</a>
            <a  class="linkHead" href="" th:href="@{/main/exist}">Выйти из сессии</a>
        </ul>
    </div>
</header>
<div class="forms">
<form th:method="Post" th:object="${current_user}" th:action="@{/user/{id}/edit(id=${current_user.getUser_id()})}">

    <input id="name" type="text" placeholder="Текущее имя" th:field="*{name}">
    <br>
    <input id="surname" type="text" placeholder="Текущая фамилия" th:field="*{surname}">
    <br>
    <input id="email" type="text" placeholder="Текущий  email"th:field="*{email}">
    <br>
    <input type="submit" id="submit_user" value="Изменить">
</form>
</div>
<div class="list_books"  th:each="book : ${books}">
    <a class="l" th:href="@{/book/{id}/delete(id=${book.getBook_id()})}" th:text="${book.message_delete()}">Нажмите чтобы удалить</a>
</div>
</body>
</html>