<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Социальная сеть</title>
    <link href="/styles/css/input_to_site.css"  rel="stylesheet"  type="text/css"/>
</head>
<body>
<div class="dws Input">
<form class="container" th:method="POST" th:object="${enter_to_page}" th:action="@{/user/inputs}">
    <img src="/images/input/6.png" id="image">

        <!--<input name="login" type="text" placeholder="Введите логин">-->
        <input name="email" type="text" placeholder="Введите email" id="email" th:field="*{email}">
        <input name="password" type="password" placeholder="Введите пароль" id="password" th:field="*{password}">
        <br>
        <input  name="Кнопка" type="submit" class="dws-submit" value="Войти">
        <br>
        <a class="link" th:href="HtmlFile.html">Забыли логин?</a>
        <br>
        <a class="link" href="HtmlFile.html">Забыли пароль?</a>
        <br>


</form>

</div>
<script src="/js/input.js" type="text/javascript"></script>
</body>
</html>