<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Социальная сеть</title>
    <link href="/styles/css/input_to_site.css"  rel="stylesheet"/>
</head>
<body>
<form class="container" th:method="POST" th:object="${enter_to_page}" th:action="@{/user/inputs}">
    <img src="image/face/6.png" id="image">
    <div class="dws Input">
        <!--<input name="login" type="text" placeholder="Введите логин">-->
        <input name="email" type="text" placeholder="Введите пароль" id="email" th:field="*{email}">
        <input name="password" type="password" placeholder="Введите пароль" id="password" th:field="*{password}">
        <br>
        <input  name="Кнопка" type="submit" class="dws-submit" value="Войти">
        <br>
        <a class="link" href="HtmlFile.html">Забыли логин?</a>
        <br>
        <a class="link" href="HtmlFile.html">Забыли пароль?</a>
        <br>
        <button name="" id="sign_up" type="submit">Зарегистрироваться</button>
    </div>
</form>

<script></script>
</body>
</html>