<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="/styles/css/main_style.css"  rel="stylesheet"  type="text/css"/>

</head>
<body>
<header>
    <div id="link">
        <ul>
            <a href="" class="linkHead" th:href="@{/main}" th:text="${current_user.getName()}">Главная</a>
            <a href="" class="linkHead" th:href="@{/main/addNewBook}">Добавить книгу</a>
            <a href="" class="linkHead">О нас</a>
            <a th:href="@{/main/changeDataUser}" class="linkHead">О вас</a>
            <a th:href="@{/main/exist}" class="linkHead">Выйти из сессии</a>
        </ul>
    </div>
</header>
<div th:each="book : ${books}">
<article >
    <img class="ArticleDiv"  th:src="${book.getUrl_req()}"   th:id="${book.getBook_id()}">
</article>
</div>



<!--<script src="/js/main.js" type="text/javascript"></script>-->
</body>
</html>