<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Регистрация</title>
    <link href="/styles/css/sign_up.css"  rel="stylesheet"  type="text/css"/>
</head>
<body>
<div id="main">

    <form th:method="POST" th:action="@{/user}" th:object="${user}">
        <img src="/images//sign_up/sun.png">
        <h3 id="name">Введите имя</h3>
        <input name="UserName" type="text" placeholder="Введите имя" th:field="*{name}"/>
        <h3>Введите фамилию</h3>
        <input name="UserSurname" type="text" placeholder="Введите фамилию" th:field="*{surname}"/>
        <h3>Введите email</h3>
        <input name="password" type="password" placeholder="Введите email" th:field="*{email}"/>
        <h3>Введите пароль</h3>
        <input name="password" type="password" placeholder="Введите пароль" th:field="*{password}"/>

        <br>

        <input type="submit" value="Зарегистрироваться"/>
    </form>
</div>
<script src="/js/sign_up.js" type="text/javascript"></script>
</body>
</html>